.hod-bg-container{
    min-height: 100vh;
    display: flex;
   
    background-color: #FFFBDA;
    flex-direction: column;

}
.hod-form-bg-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.hod-panel-img{
    height: 500px;
}
.hod-form{
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 20px;
    border-color: #d4d4d8;
   display: flex;
   flex-direction: column;
    background-color: #003C43;
    color: white;
    width: 30%;
    

}
.hod-input{
    display: block;
    border-style: solid;
    border-radius: 5px;
    padding: 7px;
    outline: none;
    padding-left: 10px;
    border-width: 0px;
    background-color: #dde6fc;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-right: 10px;
}
.hod-input-take-container{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
.hod-input-take-container label{
    font-size: 17px;
}
.hod-submit-btn{
    border-style: solid;
    border-width: 0px;
    border-radius: 6px;
    padding: 5px;
    background-color: #274bf3;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    width: 100px;
    height: 40px;
}
.subject-input-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
